#wrapper {
	width: 75%;
	height: 70%;
	background-color: #a9b2bc;
	margin: auto;
	border-radius: 25px;
	padding: 50px;
}

.left, .right {
	float: left;
	width: 50%;
	height: 70%;
	color: white;
}

.left {
	background-color: #646d78;
	font-size: 1.5em;
}

.right {
	background-color: #434a54;
}

.intro, .request {
	width: 100%;
	text-align: center;
	height: 15%;
}

.intro {
	background-color: #fff;
	font-weight: 600;
	font-size: 1.6em;
	color: #434a54;
}

.intro p, .current-request {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	line-height: 1.1em;
}

form {
	margin: 0;
}

input[type="submit"] {
	height: 50%;
	border: 3px solid #434a54;
	background-color: #00a49b;
	color: #434a54;
	font-family: inherit;
	font-weight: 600;
	font-size: 0.7em;
	margin: 0;
	outline: 0;
	cursor: pointer;
	vertical-align: top;
	padding: 10px 27px;
	letter-spacing: 0.1em;
}

.request {
	background-color: #00a49b;
	color: #fff;
	font-weight: 200;
	font-size: 1.6em;
}

.user-entry, .user-entry2, .user-entry3 {
	width: 150px;
	background-color: #434a54;
	display: inline-block;
	height: 50%;
	text-decoration: none;
	border: 3px solid #00dace;
	outline: 0;
	color: #fff;
	font-weight: 200;
	font-size: 1.0em;
	font-family: inherit;
	padding: 10px;
	margin: 0 15px;
}

.background {
	    background-image: url("img/BG.png");
	    background-repeat: repeat-x;
}

#header {
	width: 100%;
	position: relative;
}

.logo {
	background: url("img/logo.png") 20px 20px;
	background-repeat: no-repeat;
	width: 230px;
	height: 140px;
	background-size: 85%;
}

.profil {
	color: #fff;
	position: absolute;
	right: 30;
	top: 20;
	background: url("img/minion01.svg") right top;
	height: 48px;
	padding-right: 50px;
	background-repeat: no-repeat;
	font-weight: 200;

}

.profil span {
	vertical-align: middle;
	display: inline-block;
	font-size: 1.5em;
	font-weight: 200;
}

.profil::before, .intro::before, .request::before {
	vertical-align: middle;
	content: '';
	height: 100%;
	display: inline-block;
}

.excercise {
	display: inline-block;
}

body {
	background-color: black;
	font-family: Dosis;
}

pre {
	font-family: inherit;
}
